.events_list-item {
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(134, 201, 179);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events_list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(131, 131, 131);
}

.events_list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: rgb(134, 201, 179);
}

.events_list-item p {
  margin: 0;
}
